<p>Protected Dashboard  Bruceworks </p>

<!--  <pre>{{movies | json}}</pre>-->


<h2>My Online Movies</h2>

<div>
  <label for="new-movie">Movie SEARCH: </label>
  <input id="new-movie" #movieName />
  <br>
  <label for="new-movie-year">Movie of YEAR: </label>
  <input id="new-movie-year" #movieName />

  <br>
  <button type="button" class="add-button" (click)="searchMovie(movieName.value);">
    movie search
  </button>
  <br>
  <br>
  <output>{{movies.length}}</output>
  <ul>
    <li *ngFor="let su of movies" >
<!--      {{su|json}}-->
      <button type="button" class="add-button" (click)="dummy(su.title);">
        {{su.title}} {{su.release_date}} {{su.overview}}
      </button>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <button type="button" class="add-button" (click)="getGenres();movieName.value=''">
    get movie Genre ButtonOneOnline
  </button>



</div>
