<p>Protected Dashboard  Bruceworks Mar21 11am </p>


<h2>My Online Movies</h2>

<div>
  <label for="new-movie">Movie SEARCH: </label>
  <input id="new-movie" #movieName />
  <br>
  <label for="new-movie-year">Movie of YEAR: </label>
  <input id="new-movie-year" #movieName />

  <br>
  <button type="button" class="add-button" (click)="searchMovie(movieName.value);movieName.value=''">
    movie search
  </button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button type="button" class="add-button" (click)="getGenres();movieName.value=''">
    get movie Genre ButtonOneOnline
  </button>
  <button type="button" class="add-button" (click)="getMovies();">
    get all movie
  </button>


</div>
