<p>Protected Dashboard  Bruceworks </p>


<h2>My Online Movies</h2>

<div>
  <label for="new-movie">Movie SEARCH: </label>
  <input id="new-movie" #movieName />
  <br>
  <label for="new-movie-year">Movie of YEAR: </label>
  <input id="new-movie-year" #movieYear />

  <br>
  <button type="button" class="add-button" (click)="searchMovie(movieName.value,movieYear.value);">
    movie search
  </button>
  <br>
  <br>
  <output>{{moviesReturn.length}}</output>
  <ul>
    <li *ngFor="let su of moviesReturn; let i = index" >
      {{i}}. {{su.title}}, {{su.release_date}}
      <!-- {{su.title}}{{su.release_date}}{{su.poster_path}} -->
      <!--{{su|json}} -->

    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <button type="button" class="add-button" (click)="getGenres();movieName.value=''">
    get movie Genre ButtonOneOnline
  </button>



</div>
